*{
	margin:0;
}

html,body{
	min-width:1300px;
}

ul,li{
	list-style: none;
}

i,em,b,strong{
	font-style:normal;
	font-weight: normal;
}

a:link,
a:hover,
a:active,
a:visited{
	text-decoration: none;
}

input{
	border:none;
	outline:none;
	appearance:none;
	-webkit-appearance:none;
}
